<a href="https://colab.research.google.com/github/viraav/lpsimple156039/blob/master/module2-loadingdata/LS_DS_112_Loading_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [5]:
df = pd.read_excel('Homework-DataFrame-Dataset.xlsx')
df

,Paid Date,Order Number,First Name,Last Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,0,0.0
2,20170707,201707079264675,Citra,Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",35000,0,700.0,0,0.0
3,20170720,201707209945714,Dian,Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,5900.0,0,0.0
4,20170722,201707220002354,rizal,Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,81000,0,5600.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
11995,20171201,201712012704898,Fitrah,gina,Service/ Mokado,"Xtra Combo 12GB, 30hr",333000,300000,2300.0,0,0.0
11996,20171203,201712032723513,Djebeng,Shinta,Service/ Mokado,"Xtra Combo 12GB, 30hr",280000,222500,0.0,0,0.0
11997,20171204,201712042740205,Amik,Elan,Home/ Food,Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...,150000,81000,4800.0,0,0.0
11998,20171207,201712072778621,Anna,asih,Gadget/ Komputer,Samsung Galaxy J5 Pro Garansi Resmi Special Price,475000,400000,0.0,0,0.0
11999,20171205,201712052746101,nidyah,ayi,Service/ Mokado,[SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...,475000,400000,20000.0,17000,0.0

In [9]:
# Select specific columns by name
selected_columns_df = pd.read_excel('Homework-DataFrame-Dataset.xlsx', usecols=['Paid-Transaction', 'Seller'])
display(selected_columns_df.head())

# Alternatively, select specific columns by index (e.g., 0, 4, 6)
# selected_columns_df_by_index = pd.read_excel('Homework-DataFrame-Dataset.xlsx', usecols=[0, 4, 6])
# display(selected_columns_df_by_index.head())

ValueError: Usecols do not match columns, columns expected but not found: ['Seller', 'Paid-Transaction'] (sheet: 0)

In [6]:
# Select a specific sheet by name
sheet_df = pd.read_excel('Homework-DataFrame-Dataset.xlsx', sheet_name=['Paid-Transaction','Seller'])
sheet_df

# Alternatively, select a specific sheet by index (e.g., the first sheet)
# first_sheet_df = pd.read_excel('Homework-DataFrame-Dataset.xlsx', sheet_name=0)
# display(first_sheet_df.head())

{'Paid-Transaction':        Paid Date     Order Number First Name Last Name     Meta Category  \
 0       20170724  201707240088517    elvride     aries      Babies/ Kids
 1       20170701  201707018889790      BASIR     Ninuk   Service/ Mokado
 2       20170707  201707079264675      Citra      Ardi   Service/ Mokado
 3       20170720  201707209945714       Dian   Renaldi           Fashion
 4       20170722  201707220002354      rizal     Tamba  Gadget/ Komputer
 ...          ...              ...        ...       ...               ...
 11995   20171201  201712012704898     Fitrah      gina   Service/ Mokado
 11996   20171203  201712032723513    Djebeng    Shinta   Service/ Mokado
 11997   20171204  201712042740205       Amik      Elan        Home/ Food
 11998   20171207  201712072778621       Anna      asih  Gadget/ Komputer
 11999   20171205  201712052746101     nidyah       ayi   Service/ Mokado

                                             Product Name  Transaction Amount  \
 0      Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...              300000
 1                                     Pulsa BOLT 150.000              287800
 2                              XTRA Combo 12X 6GB, 12bln               35000
 3      Square Foldable Travel Bag / Tas Koper Luggage...               85000
 4                             Samsung Galaxy Note 5 Gold               81000
 ...                                                  ...                 ...
 11995                              Xtra Combo 12GB, 30hr              333000
 11996                              Xtra Combo 12GB, 30hr              280000
 11997  Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...              150000
 11998  Samsung Galaxy J5 Pro Garansi Resmi Special Price              475000
 11999  [SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...              475000

        Seller Discount  Sales Discount  Delivery Fee  Other Discount
 0               153000         10200.0          9000             0.0
 1                68000             0.0             0             0.0
 2                    0           700.0             0             0.0
 3                    0          5900.0             0             0.0
 4                    0          5600.0             0             0.0
 ...                ...             ...           ...             ...
 11995           300000          2300.0             0             0.0
 11996           222500             0.0             0             0.0
 11997            81000          4800.0             0             0.0
 11998           400000             0.0             0             0.0
 11999           400000         20000.0         17000             0.0

 [12000 rows x 11 columns],
 'Seller':           Order Number        Seller
 0      201707209929420  Global Phone
 1      201707129550097        E-shop
 2      201707039056021   twelven com
 3      201707099376522      GRAMEDIA
 4      201707028956707        E-Bold
 ...                ...           ...
 11995  201712042733301        E-Bold
 11996  201711292684084  Luckykorea88
 11997  201712072774578      GAU SHOP
 11998  201712032722038   Farida Toko
 11999  201712112833370   Mullia Cell

 [12000 rows x 2 columns]}

In [ ]:
# Create a sample DataFrame
data = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df_sample = pd.DataFrame(data)
print("Original DataFrame:")
display(df_sample)

# Insert a new column at index 2 (third position)
df_sample.insert(loc=2, column='New Column', value=0)

print("\nDataFrame after inserting 'New Column':")
display(df_sample)

In [7]:
# Concatenate 'First Name' and 'Last Name' to create 'Full Name'
df['Full Name'] = df['First Name'].astype(str) + ' ' + df['Last Name'].astype(str)

In [8]:
df

,Paid Date,Order Number,First Name,Last Name,Meta Category,Product Name,Full Name,Transaction Amount,Seller Discount,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,0,300000,153000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Service/ Mokado,Pulsa BOLT 150.000,0,287800,68000,0.0,0,0.0
2,20170707,201707079264675,Citra,Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",0,35000,0,700.0,0,0.0
3,20170720,201707209945714,Dian,Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,0,85000,0,5900.0,0,0.0
4,20170722,201707220002354,rizal,Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,0,81000,0,5600.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11995,20171201,201712012704898,Fitrah,gina,Service/ Mokado,"Xtra Combo 12GB, 30hr",0,333000,300000,2300.0,0,0.0
11996,20171203,201712032723513,Djebeng,Shinta,Service/ Mokado,"Xtra Combo 12GB, 30hr",0,280000,222500,0.0,0,0.0
11997,20171204,201712042740205,Amik,Elan,Home/ Food,Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...,0,150000,81000,4800.0,0,0.0
11998,20171207,201712072778621,Anna,asih,Gadget/ Komputer,Samsung Galaxy J5 Pro Garansi Resmi Special Price,0,475000,400000,0.0,0,0.0
11999,20171205,201712052746101,nidyah,ayi,Service/ Mokado,[SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...,0,475000,400000,20000.0,17000,0.0

In [10]:
df['Full Name'] = df['First Name'].astype(str) + ' ' + df['Last Name'].astype(str)

In [9]:
# To drop a single column, use the column name and specify axis=1
# Replace 'Column To Drop' with the actual name of the column you want to drop
df_dropped = df.drop(columns=['Full Name'])

# To drop multiple columns, provide a list of column names
# df_dropped = df.drop(columns=['Column1', 'Column2'])

# To modify the DataFrame in place without creating a new one, use inplace=True
# df.drop(columns=['Column To Drop'], inplace=True)

display(df_dropped.head())

,Paid Date,Order Number,First Name,Last Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,0,0.0
2,20170707,201707079264675,Citra,Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",35000,0,700.0,0,0.0
3,20170720,201707209945714,Dian,Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,5900.0,0,0.0
4,20170722,201707220002354,rizal,Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,81000,0,5600.0,0,0.0

In [14]:
df['Full Name'] = df['First Name'].astype(str) + ' ' + df['Last Name'].astype(str)

In [17]:
df

,Paid Date,Order Number,First Name,Last Name,Meta Category,Product Name,Full Name,Transaction Amount,Seller Discount,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,elvride aries,300000,153000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Service/ Mokado,Pulsa BOLT 150.000,BASIR Ninuk,287800,68000,0.0,0,0.0
2,20170707,201707079264675,Citra,Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",Citra Ardi,35000,0,700.0,0,0.0
3,20170720,201707209945714,Dian,Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,Dian Renaldi,85000,0,5900.0,0,0.0
4,20170722,201707220002354,rizal,Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,rizal Tamba,81000,0,5600.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11995,20171201,201712012704898,Fitrah,gina,Service/ Mokado,"Xtra Combo 12GB, 30hr",Fitrah gina,333000,300000,2300.0,0,0.0
11996,20171203,201712032723513,Djebeng,Shinta,Service/ Mokado,"Xtra Combo 12GB, 30hr",Djebeng Shinta,280000,222500,0.0,0,0.0
11997,20171204,201712042740205,Amik,Elan,Home/ Food,Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...,Amik Elan,150000,81000,4800.0,0,0.0
11998,20171207,201712072778621,Anna,asih,Gadget/ Komputer,Samsung Galaxy J5 Pro Garansi Resmi Special Price,Anna asih,475000,400000,0.0,0,0.0
11999,20171205,201712052746101,nidyah,ayi,Service/ Mokado,[SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...,nidyah ayi,475000,400000,20000.0,17000,0.0

In [18]:
# Get the current list of columns
cols = df.columns.tolist()

# Remove the 'Full Name' column from the list
cols.remove('Full Name')

# Find the index of the 'Last Name' column
last_name_index = cols.index('Last Name')

# Insert 'Full Name' after 'Last Name'
cols.insert(last_name_index + 1, 'Full Name')

# Reindex the DataFrame with the new column order
df = df[cols]

display(df.head())

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,elvride aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,BASIR Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,0,0.0
2,20170707,201707079264675,Citra,Ardi,Citra Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",35000,0,700.0,0,0.0
3,20170720,201707209945714,Dian,Renaldi,Dian Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,5900.0,0,0.0
4,20170722,201707220002354,rizal,Tamba,rizal Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,81000,0,5600.0,0,0.0

In [19]:
df['Full Name'] = df['Full Name'].str.title()
display(df.head())

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,0,0.0
2,20170707,201707079264675,Citra,Ardi,Citra Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",35000,0,700.0,0,0.0
3,20170720,201707209945714,Dian,Renaldi,Dian Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,5900.0,0,0.0
4,20170722,201707220002354,rizal,Tamba,Rizal Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,81000,0,5600.0,0,0.0

In [23]:
#inserting a new column named “GMV” after Seller Discount in the table
df['GMV'] = df['Transaction Amount'] - df['Seller Discount']
display(df.head())

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,GMV,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,147000,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,219800,0,0.0
2,20170707,201707079264675,Citra,Ardi,Citra Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",35000,0,700.0,35000,0,0.0
3,20170720,201707209945714,Dian,Renaldi,Dian Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,5900.0,85000,0,0.0
4,20170722,201707220002354,rizal,Tamba,Rizal Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,81000,0,5600.0,81000,0,0.0

In [22]:
display(df.head(2))

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,GMV,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,0,0,0.0

In [25]:
# Define the list of categories to include in "Group 1" and "Group 2"
group1_categories = ['Home/ Food', 'Sports/ Hobi/ Otomotif', 'Fashion', 'Beauty/ Health']
group2_categories = ['Gadget/ Komputer', 'Elektronik', 'Service/ Mokado', 'Babies/ Kids']

# Create the new column "Group 1" and "Group 2" and initialize with None or NaN
df['Group 1'] = None
df['Group 2'] = None

# Use boolean indexing to select rows where 'Meta Category' is in the list and assign the value from 'Meta Category'
df.loc[df['Meta Category'].isin(group1_categories), 'Group 1'] = df['Meta Category']
df.loc[df['Meta Category'].isin(group2_categories), 'Group 2'] = df['Meta Category']

# Display the head of the DataFrame to show the new column
display(df.head())

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,GMV,Delivery Fee,Other Discount,Group 1,Group 2
0,20170724,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,147000,9000,0.0,None,Babies/ Kids
1,20170701,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,219800,0,0.0,None,Service/ Mokado
2,20170707,201707079264675,Citra,Ardi,Citra Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",35000,0,700.0,35000,0,0.0,None,Service/ Mokado
3,20170720,201707209945714,Dian,Renaldi,Dian Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,5900.0,85000,0,0.0,Fashion,None
4,20170722,201707220002354,rizal,Tamba,Rizal Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,81000,0,5600.0,81000,0,0.0,None,Gadget/ Komputer

In [31]:
# Convert 'Paid Date' to datetime objects
df['Paid Date'] = pd.to_datetime(df['Paid Date'], format='%Y%m%d')

# Display the head of the DataFrame to show the new column
display(df.head())

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,GMV,Delivery Fee,Other Discount,Group 1,Group 2
0,2017-07-24,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,147000,9000,0.0,None,Babies/ Kids
1,2017-07-01,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,219800,0,0.0,None,Service/ Mokado
2,2017-07-07,201707079264675,Citra,Ardi,Citra Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",35000,0,700.0,35000,0,0.0,None,Service/ Mokado
3,2017-07-20,201707209945714,Dian,Renaldi,Dian Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,5900.0,85000,0,0.0,Fashion,None
4,2017-07-22,201707220002354,rizal,Tamba,Rizal Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,81000,0,5600.0,81000,0,0.0,None,Gadget/ Komputer

In [ ]:
total_gmv = df['GMV'].sum()
print(f"The total GMV is: {total_gmv}")

In [ ]:
# Group by month and count the number of transactions
monthly_counts = df.groupby(df['Paid Date'].dt.to_period('M')).size().reset_index(name='Number of Transactions')

display(monthly_counts)

In [34]:
# Group the DataFrame by month without aggregation
monthly_groups = df.groupby(df['Paid Date'].dt.to_period('M'))

# You can now use the 'monthly_groups' object for other operations,
# for example, iterating through the groups or applying different aggregations later.
# print(monthly_groups.groups) # Uncomment to see the group keys


display(df.head(2))

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,GMV,Delivery Fee,Other Discount,Group 1,Group 2
0,2017-07-24,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,147000,9000,0.0,None,Babies/ Kids
1,2017-07-01,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,219800,0,0.0,None,Service/ Mokado