<a href="https://colab.research.google.com/github/viraav/lpsimple156039/blob/master/module2-loadingdata/LS_DS_112_Loading_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [6]:
df = pd.read_excel('Homework-DataFrame-Dataset.xlsx')
df

,Paid Date,Order Number,First Name,Last Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,0,0.0
2,20170707,201707079264675,Citra,Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",35000,0,700.0,0,0.0
3,20170720,201707209945714,Dian,Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,5900.0,0,0.0
4,20170722,201707220002354,rizal,Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,81000,0,5600.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
11995,20171201,201712012704898,Fitrah,gina,Service/ Mokado,"Xtra Combo 12GB, 30hr",333000,300000,2300.0,0,0.0
11996,20171203,201712032723513,Djebeng,Shinta,Service/ Mokado,"Xtra Combo 12GB, 30hr",280000,222500,0.0,0,0.0
11997,20171204,201712042740205,Amik,Elan,Home/ Food,Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...,150000,81000,4800.0,0,0.0
11998,20171207,201712072778621,Anna,asih,Gadget/ Komputer,Samsung Galaxy J5 Pro Garansi Resmi Special Price,475000,400000,0.0,0,0.0
11999,20171205,201712052746101,nidyah,ayi,Service/ Mokado,[SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...,475000,400000,20000.0,17000,0.0

In [9]:
# Select specific columns by name
selected_columns_df = pd.read_excel('Homework-DataFrame-Dataset.xlsx', usecols=['Paid-Transaction', 'Seller'])
display(selected_columns_df.head())

# Alternatively, select specific columns by index (e.g., 0, 4, 6)
# selected_columns_df_by_index = pd.read_excel('Homework-DataFrame-Dataset.xlsx', usecols=[0, 4, 6])
# display(selected_columns_df_by_index.head())

ValueError: Usecols do not match columns, columns expected but not found: ['Seller', 'Paid-Transaction'] (sheet: 0)

In [13]:
# Select a specific sheet by name
sheet_df = pd.read_excel('Homework-DataFrame-Dataset.xlsx', sheet_name=['Paid-Transaction','Seller'])
sheet_df

# Alternatively, select a specific sheet by index (e.g., the first sheet)
# first_sheet_df = pd.read_excel('Homework-DataFrame-Dataset.xlsx', sheet_name=0)
# display(first_sheet_df.head())

{'Paid-Transaction':        Paid Date     Order Number First Name Last Name     Meta Category  \
 0       20170724  201707240088517    elvride     aries      Babies/ Kids
 1       20170701  201707018889790      BASIR     Ninuk   Service/ Mokado
 2       20170707  201707079264675      Citra      Ardi   Service/ Mokado
 3       20170720  201707209945714       Dian   Renaldi           Fashion
 4       20170722  201707220002354      rizal     Tamba  Gadget/ Komputer
 ...          ...              ...        ...       ...               ...
 11995   20171201  201712012704898     Fitrah      gina   Service/ Mokado
 11996   20171203  201712032723513    Djebeng    Shinta   Service/ Mokado
 11997   20171204  201712042740205       Amik      Elan        Home/ Food
 11998   20171207  201712072778621       Anna      asih  Gadget/ Komputer
 11999   20171205  201712052746101     nidyah       ayi   Service/ Mokado

                                             Product Name  Transaction Amount  \
 0      Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...              300000
 1                                     Pulsa BOLT 150.000              287800
 2                              XTRA Combo 12X 6GB, 12bln               35000
 3      Square Foldable Travel Bag / Tas Koper Luggage...               85000
 4                             Samsung Galaxy Note 5 Gold               81000
 ...                                                  ...                 ...
 11995                              Xtra Combo 12GB, 30hr              333000
 11996                              Xtra Combo 12GB, 30hr              280000
 11997  Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...              150000
 11998  Samsung Galaxy J5 Pro Garansi Resmi Special Price              475000
 11999  [SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...              475000

        Seller Discount  Sales Discount  Delivery Fee  Other Discount
 0               153000         10200.0          9000             0.0
 1                68000             0.0             0             0.0
 2                    0           700.0             0             0.0
 3                    0          5900.0             0             0.0
 4                    0          5600.0             0             0.0
 ...                ...             ...           ...             ...
 11995           300000          2300.0             0             0.0
 11996           222500             0.0             0             0.0
 11997            81000          4800.0             0             0.0
 11998           400000             0.0             0             0.0
 11999           400000         20000.0         17000             0.0

 [12000 rows x 11 columns],
 'Seller':           Order Number        Seller
 0      201707209929420  Global Phone
 1      201707129550097        E-shop
 2      201707039056021   twelven com
 3      201707099376522      GRAMEDIA
 4      201707028956707        E-Bold
 ...                ...           ...
 11995  201712042733301        E-Bold
 11996  201711292684084  Luckykorea88
 11997  201712072774578      GAU SHOP
 11998  201712032722038   Farida Toko
 11999  201712112833370   Mullia Cell

 [12000 rows x 2 columns]}